$primary: #009eaa;

$white: #fff;
$grey-light: #f3f4f5;
$grey: #d6dadf;
$grey-dark: #bdc3c7;
$black: #000;
$dim-grey: #636E74;

$btn-green: $primary;
$btn-green-hover: #00bcca;
$btn-green-active: #16959f;

$navy-light: #405685;
$navy-dark: #212172;

$red: #e6002b;
$pink: #ff0060;
$orange: #ff763e;
$blue: #1c88cc;

//old
$grey-very-light: #e2e2e2;
$grey-medium: #555;
$grey-dark: #333;
$white-smoke: #fcfafd;
