@import 'app/styles/vars';

.question {
  display: flex;
  align-items: center;
}

.icon {
  flex: 0 0 24px;
  background: $navy-dark;
  color: $white;
  height: 24px;
  font-size: 14px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-weight: bold;
  margin: 8px;
  font-size: 18px;
}