.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 1px #ddd;
  padding: 15px;

  img {
    height: 70px;
  }

  div {
    font-size: 45px;
    font-weight: bold;
    color: darkred;
    text-transform: uppercase;
  }
}
