@import 'app/styles/vars';

.timer {
  display: flex;
  border: 1px solid $grey-very-light;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 8px 16px;
  background: $white;

  .text {
    color: $navy-dark;
    font-weight: bold;
    font-size: 26px;
  }

  .clock {
    font-size: 48px;
    color: $navy-dark;
    font-weight: bold;
  }

  img {
    border: solid 2px green;
    border-radius: 2px; 
  }
}
