@import 'app/styles/vars';

.bar {
  background: rgba(0, 0, 0, 0.6);
  padding: 12px 16px;
  color: $white;
  text-align: right;
  position: absolute;
  left: 0;
  right: 0;

  &[position="top"] {
    top: 0;
  }

  &[position="bottom"] {
    bottom: 0;
  }
}